{% extends 'base.html' %}

{% block content %}
<h1>EDIT</h1>
<hr>
<form action="{% url 'article:update' article.pk %}" method="POST"  enctype='multipart/form-data'>
    {% csrf_token %} 
    <input type="hidden" value='{{article.pk}}'>
    <label for="title">TITLE : </label>
    <input type="text" name="title" id="title" value='{{article.title}}'>
    <label for="content">CONTENT : </label>
    <input type="text" name="content" id="content" value='{{article.content}}'>
    <input type="submit">
  </form>

  <hr>
  <a href="{% url 'article:detail' article.pk %}">돌아가기</a>
{% endblock content %}